{% extends 'base.html' %}

{% block content %}


<p>
  Ever wanted to capture a sight in sound? Upload an image, and <b>Picify</b> will curate a Spotify playlist based on what it sees.
  <br>
  Please log in with Spotify below (and note that you may be redirected).</p>

  {% if authorization_code == None %}
  <a class="special-button spotify-button" href="https://accounts.spotify.com/authorize?client_id={{ client_id }}&scope={{ scope }}&response_type=code&redirect_uri={{ redirect_uri }}"><img src="/static/spotify-icon.png" alt="spotify icon" />Login with Spotify</a>
  {% else %}
  <form class="upload-form" method="post" enctype="multipart/form-data" action="/playlist">
    <div class="upload-button">
        <div class="spotify-button">
             Upload an Image
        </div>
        <!-- this is later in the source so it'll be "on top" -->
        <input name="file" type="file" onChange="javascript:checkIfFileSelected(this)" />
    </div>
    <input id="picify-button" class="spotify-button" type="submit" disabled value="Picify It!" />
  </form>
  {% endif %}
  <script type="text/javascript">
  function checkIfFileSelected(input) {
      var file = input.files[0];

      if (file) {
          document.getElementById("picify-button").removeAttribute("disabled");
      }
    }

  </script>
{% endblock %}
