{% extends 'base.html' %}

{% block content %}
    <div class=playlist-prologue>
      <div class=playlist-image>
        <img src={{ imagepath }}>
      </div>

      <div class=playlist-search-terms>
        <h3>{{ ", ".join(search_terms) }}</h3>
      </div>
    </div>

    <h2>{{ session['playlist_name'] }}</h2>

    <table>
      <thead>
        <td><h2>Song</h2></td>
        <td><h2>Artist</h2></td>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{ song.name }}</td>
          <td>{{ song.artists }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="post" action="/create">
      <div style="text-align: center;">
          <button type="submit" class="spotify-button" style="margin-top: 1em;">Create Playlist</button>
      </div>
    </form>

{% endblock %}
