{% extends 'base.html' %}

{% block content %}

    <h2>{{ session['playlist_name'] }}</h2>

    <table>
      <thead>
        <td>Song</td>
        <td>Artist</td>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{ song.name }}</td>
          <td>{{ song.artists }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="post" action="/create">
      <div style="text-align: center;">
          <button type="submit" class="spotify-button" style="margin-top: 1em;">Create Playlist</button>
      </div>
    </form>

{% endblock %}
